html{
    background-image: url("anime-background-images-1.jpg");
    background-attachment: fixed, scroll;
    margin-top: 10px;
}

body{
    margin: 8em;

}


header{
    background-image: url("58441870_112071363331879_6047847052698714112_n.jpg");
    size: 100px;
    border: 4mm ridge rgba(42, 54, 109, 0.6);
    padding-top: 50px;
    margin-top: 100px;
}


h1{
    
    margin-top: 20px;
    height: 250px;
    padding: 50px;
    text-align: center;
    
}

.row{
    border: 2mm ridge rgba(42, 54, 109, 0.6);
    font-size: 30px;
    background-image: url("blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg");
    size: 100px;
    padding: auto;

}


.infophoto{
    background-image: url("vector-grey-background.jpg");
    border: 4mm ridge rgba(42, 54, 109, 0.6);
    font-size: 20px;

}


.page{
    width: 780px;
    margin: auto;
    font-size: 16px;
    font-family: Tahoma;
}

.infophoto{
    height: 250px;
}

.info{
    float: left;
}

.photo{
    float: right;
    padding-top: -50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }

aside{
    width: 400px;
    margin: left;
    font-size: 25px;
    font-family: Tahoma;
    border: 2mm ridge rgba(42, 54, 109, 0.6);  
    padding-bottom: 30px;
}

aside .container{
    padding-left: 0;
}

.container {
    width: 100%;
    background-color: rgb(12, 127, 161);
}

  .skills {
    text-align: left;
    padding: 5px;
    color: white;
}


.dessin {
    width: 80%; background-color: rgb(24, 22, 59);
}
.infographie {
    width: 70%; background-color: rgb(24, 22, 59);
}
.musique {
    width: 80%; background-color: rgb(24, 22, 59);
}

div.section{
    width: 1877px;
    height: 20px;
}

div.sec-gauche{
    font-size: 25px;
width: 1000px;    
margin: right;
height: 1px;
}




  

h2{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: auto;
    text-align: center;
    background-color: rgb(72, 97, 131)
}



.section{
    margin-bottom: 70px;
}

.sec-gauche{
    float: center;
    margin: auto;
}

.sec-droite{
    margin-left: 150px;
}

.cursus{
    text-align: center;
    font-size: 30px;
    border: 4mm ridge rgba(42, 54, 109, 0.6);
}

.créations{
    text-align: center;
    font-size: 20px;
    background-color: rgb(72, 97, 131);
}

.info-footer{
    text-align: center;
    font-size: 20px;
    border: 4mm ridge rgba(42, 54, 109, 0.6);
}